.header {
  background-color: yellow;
  width: 100%;
}
.header__title {
  font-size: 7rem;
  font-weight: 500;
  margin: 0.3rem 0;
  text-align: center;
  padding: 0;
}
.header__subtitle {
  font-size: 2rem;
  margin: 0.1rem 0;
  text-align: center;
}
